.idea
/base/api
/base/cmds

# core目录下
/base/core/.idea
/base/core/jni
/base/core/tests

/base/data
/base/docs
/base/drm

/base/include
/base/keystore
/base/libs
/base/location
/base/media
/base/native
/base/nfc-extras
/base/obex
/base/opengl
/base/packages
/base/policy
/base/rs
/base/samples
/base/sax
/base/services
/base/telecomm
/base/telephony
/base/test-runner
/base/tests
/base/tools
/base/wifi

/base/*.mk
/base/MODULE_LICENSE_APACHE2
/base/NOTICE
/base/preloaded-classes